### Assignment: Data Analysis with Pre-Generated Random Data

This assignment guides you through analyzing a pre-generated dataset using Pandas. You'll practice manipulating and analyzing data to extract insights.

#### Setup: Generate the Dataset

Start by running the following code in this Jupyter Notebook to generate your dataset:

In [11]:
import pandas as pd
import numpy as np

# Seed for reproducibility
np.random.seed(0)

# Generate random data
data = {
    'Region': np.random.choice(['North', 'South', 'East', 'West'], size=100),
    'Sales': np.random.rand(100) * 1000,  # Sales figures between 0 and 1000
    'Transactions': np.random.randint(1, 100, size=100)  # Transactions between 1 and 100
}

# Create DataFrame
df = pd.DataFrame(data)

df.to_csv('data_region.csv')

ModuleNotFoundError: No module named 'pandas'

#### Task 1: Explore the Dataset

Familiarize yourself with the dataset structure and basic statistics.

1. **Display the first few rows of the dataset.** Insert your code below:

In [1]:
# INSERT CODE HERE to display the first 5 rows of the dataframe
selected_by_position = df.iloc[0:5]
print(selected_by_position)

NameError: name 'df' is not defined

2. **Calculate and display basic statistics for the 'Sales' and 'Transactions' columns.** Insert your code below:

In [5]:
# INSERT CODE HERE to calculate basic statistics for 'Sales' and 'Transactions'

            Sales  Transactions
count  100.000000    100.000000
mean   496.438899     48.440000
std    283.716158     28.051655
min      4.695476      1.000000
25%    262.365019     28.750000
50%    544.924754     44.500000
75%    700.581602     72.500000
max    998.847007     98.000000

#### Task 2: Data Analysis

Perform basic analyses to extract insights from the data.

1. **Calculate the average sales and transactions per region.** Insert your code below:

In [10]:
# INSERT CODE HERE to calculate the average sales per region
# INSERT CODE HERE to calculate the average transactions per region

2. **Find and display the region with the highest average sales.** Insert your code below:

In [9]:
# INSERT CODE HERE to find the region with the highest average sales

'East'

#### Task 3: Insights Reporting

Based on your analysis, answer the following questions in a markdown cell in your Jupyter Notebook:

1. What is the average sales and transactions figure per region?
2. Which region has the highest average sales, and what might this imply?
3. Did you notice any interesting patterns or anomalies in the data? How might you investigate these further?

**Placeholder for Student's Analysis:**

1. INSERT YOUR ANSWER HERE
2. INSERT YOUR ANSWER HERE
3. INSERT YOUR ANSWER HERE