## 1. üßÆ Calculate Total Age in Group

Given the following list of people, use `reduce` to calculate the total age of the group.

```python
people = [
    {"name": "Alice", "age": 30},
    {"name": "Bob", "age": 25},
    {"name": "Charlie", "age": 35},
    {"name": "Diana", "age": 40}
]
```

In [ ]:
from functools import reduce
people = [
    {"name": "Alice", "age": 30},
    {"name": "Bob", "age": 25},
    {"name": "Charlie", "age": 35},
    {"name": "Diana", "age": 40}
]
total_age = reduce(lambda x, y: x + y['age'], people, 0)
print(total_age)

130

## 2. üîç Find the Oldest Person

Using the same `people` list from above, use `reduce` to find the person with the highest age.

In [6]:
from functools import reduce

people = [
    {"name": "Alice", "age": 30},
    {"name": "Bob", "age": 25},
    {"name": "Charlie", "age": 35},
    {"name": "Diana", "age": 40}
]

oldest = reduce(lambda a, b: a if a['age'] > b['age'] else b, people)
print(oldest['age'])

40

## 3. üî† Extract Unique Job Titles

Given the following list of employees, use `map` and `filter` to extract a list of unique job titles.

```python
employees = [
    {"name": "Alice", "job_title": "Engineer"},
    {"name": "Bob", "job_title": "Designer"},
    {"name": "Charlie", "job_title": "Engineer"},
    {"name": "Diana", "job_title": "Manager"},
    {"name": "Eve", "job_title": "Designer"}
]
```

In [18]:
employees = [
    {"name": "Alice", "job_title": "Engineer"},
    {"name": "Bob", "job_title": "Designer"},
    {"name": "Charlie", "job_title": "Engineer"},
    {"name": "Diana", "job_title": "Manager"},
    {"name": "Eve", "job_title": "Designer"}
]

jobs = list(map(lambda x: x['job_title'], employees))
print(jobs)

unique_jobs = []

def add_unique_job(x):
    if x not in unique_jobs:
        unique_jobs.append(x)
        return True
    return False

unique_jobs = list(filter(add_unique_job, jobs))
print(unique_jobs)

['Engineer', 'Designer', 'Engineer', 'Manager', 'Designer']
['Engineer', 'Designer', 'Manager']

## 4. üóÇÔ∏è Filter and Group by Age Range

Using the `people` list, filter out those under 18, then group the remaining people by age range: 18-25, 26-35, 36-45.

In [7]:
people = [
    {"name": "Alice", "age": 30},
    {"name": "Bob", "age": 25},
    {"name": "Charlie", "age": 35},
    {"name": "Diana", "age": 40}
]

adults = list(filter(lambda x: x['age'] >= 18, people))
range_18_25 = list(filter(lambda x: x['age'] <= 25, adults))
range_26_35 = list(filter(lambda x: 26 <= x['age'] <= 35, adults))
range_36_45 = list(filter(lambda x: 36 <= x['age'] <= 45, adults))
print([range_18_25, range_26_35, range_36_45])

[[{'name': 'Bob', 'age': 25}], [{'name': 'Alice', 'age': 30}, {'name': 'Charlie', 'age': 35}], [{'name': 'Diana', 'age': 40}]]

## 5. üß© Merge and Count Job Titles

With the `employees` list, use `reduce` to create an object that counts how many people have each job title.

In [ ]:
employees = [
    {"name": "Alice", "job_title": "Engineer"},
    {"name": "Bob", "job_title": "Designer"},
    {"name": "Charlie", "job_title": "Engineer"},
    {"name": "Diana", "job_title": "Manager"},
    {"name": "Eve", "job_title": "Designer"}
]
print('Actual jobs: ' + str(jobs))
print('Unique job_titles: ' + str(unique_jobs))

unique_jobs_counter = reduce(lambda obj, employee: obj.update({employee['job_title']: obj.get(employee['job_title'], 0) + 1}) or obj, employees, {})
print(unique_jobs_counter)

Actual jobs: ['Engineer', 'Designer', 'Engineer', 'Manager', 'Designer']
Unique job_titles: ['Engineer', 'Designer', 'Manager']
{'Engineer': 2, 'Designer': 2, 'Manager': 1}

## 6. üìä Calculate Average Salary

Using the following list of employees with salaries, use `reduce` to calculate the average salary. Exclude any employees with a salary below 50,000.

```python
salaries = [
    {"name": "Alice", "salary": 60000},
    {"name": "Bob", "salary": 45000},
    {"name": "Charlie", "salary": 70000},
    {"name": "Diana", "salary": 52000},
    {"name": "Eve", "salary": 48000}
]
```

In [36]:
salaries = [
    {"name": "Alice", "salary": 60000},
    {"name": "Bob", "salary": 45000},
    {"name": "Charlie", "salary": 70000},
    {"name": "Diana", "salary": 52000},
    {"name": "Eve", "salary": 48000}
]

high_salary = list(filter(lambda person: person['salary'] >= 50000, salaries))
print(high_salary)

tot_salaries = reduce(lambda x, y: x.update({'total_salary': x.get('total_salary', 0) + y['salary'], 'counter': x.get('counter', 0) + 1}) or x, high_salary, {})
avg_salary = tot_salaries['total_salary'] / tot_salaries['counter']
print(avg_salary)

[{'name': 'Alice', 'salary': 60000}, {'name': 'Charlie', 'salary': 70000}, {'name': 'Diana', 'salary': 52000}]
60666.666666666664

## 7. üå± Filter Active Accounts

Given the following list of user accounts, use `filter` to return only active accounts.

```python
accounts = [
    {"name": "Alice", "isActive": True},
    {"name": "Bob", "isActive": False},
    {"name": "Charlie", "isActive": True},
    {"name": "Diana", "isActive": False}
]
```

In [1]:
accounts = [
    {"name": "Alice", "isActive": True},
    {"name": "Bob", "isActive": False},
    {"name": "Charlie", "isActive": True},
    {"name": "Diana", "isActive": False}
]

active_accounts = list(filter(lambda account: account['isActive'], accounts))
print(active_accounts)

[{'name': 'Alice', 'isActive': True}, {'name': 'Charlie', 'isActive': True}]

## 8. üïπÔ∏è Generate Usernames

Write a function using `map` to generate usernames from the following list of names in the format `first letter of first name + last name`, all lowercase.

```python
names = [
    {"first_name": "Alice", "last_name": "Johnson"},
    {"first_name": "Bob", "last_name": "Smith"},
    {"first_name": "Charlie", "last_name": "Brown"},
    {"first_name": "Diana", "last_name": "Williams"}
]
```

In [3]:
names = [
    {"first_name": "Alice", "last_name": "Johnson"},
    {"first_name": "Bob", "last_name": "Smith"},
    {"first_name": "Charlie", "last_name": "Brown"},
    {"first_name": "Diana", "last_name": "Williams"}
]

usernames = list(map(lambda person: person['first_name'][0].lower() + person['last_name'].lower(), names))
print(usernames)

['ajohnson', 'bsmith', 'cbrown', 'dwilliams']

## 9. üìÖ Find Longest Employment Duration

Given the following list of employees with `hire_date` and `termination_date`, use `reduce` to find the employee with the longest duration of employment.

```python
employment = [
    {"name": "Alice", "hire_date": "2015-06-01", "termination_date": "2020-06-01"},
    {"name": "Bob", "hire_date": "2012-01-01", "termination_date": "2018-01-01"},
    {"name": "Charlie", "hire_date": "2017-09-01", "termination_date": "2022-09-01"},
    {"name": "Diana", "hire_date": "2013-05-01", "termination_date": "2019-05-01"}
]
```