# üöÄ **Advanced Data Analysis Assignment**

Welcome to the next-level assignment! We‚Äôll build on the two previous datasets:
1. A **region-based** dataset containing `Region`, `Sales`, and `Transactions`.
2. A **time-series** dataset containing daily `Sales` from 2020-01-01 to 2020-12-31.

In this notebook, you will:
1. Load and explore both datasets.
2. Perform advanced grouping and pivoting on the regional data.
3. Check correlations and detect potential outliers.
4. Conduct advanced time-series analysis (rolling means & seasonal decomposition).
5. Provide concise insights from your findings.

Let's get started! üéâ

## üß© **Part A: Advanced Analysis on Regional Sales Data**
We'll begin by re-generating (or reloading) the regional sales data from your previous assignment.

In [33]:
# === Part A: Data Generation (Regional) ===
import pandas as pd
import numpy as np

# Seed for reproducibility
np.random.seed(0)

# Generate random data
data_regional = {
    'Region': np.random.choice(['North', 'South', 'East', 'West'], size=100),
    'Sales': np.random.rand(100) * 1000,  # Sales figures between 0 and 1000
    'Transactions': np.random.randint(1, 100, size=100)  # Transactions between 1 and 100
}

# Create DataFrame
df_regional = pd.DataFrame(data_regional)
df_regional.head()

  Region       Sales  Transactions
0  North  570.196770            29
1   West  438.601513             3
2  South  988.373838            28
3  North  102.044811            84
4   West  208.876756            90

### üîç **Task A1: Exploratory Data Analysis**
1. Display basic summary statistics for `Sales` and `Transactions`.
2. Identify the number of unique regions.
3. Check for any missing values.

In [34]:
# === SOLUTION for Task A1 ===

# 1) Basic summary statistics
print(df_regional.describe())
# 2) Number of unique regions
print('\nNumber of unique regions:', len(pd.unique(df_regional['Region'])))
# 3) Check for missing values
missing_count = df_regional.isnull().sum()

print('\nMissing values:')
print(missing_count)

            Sales  Transactions
count  100.000000    100.000000
mean   496.438899     48.440000
std    283.716158     28.051655
min      4.695476      1.000000
25%    262.365019     28.750000
50%    544.924754     44.500000
75%    700.581602     72.500000
max    998.847007     98.000000

Number of unique regions: 4

Missing values:
Region          0
Sales           0
Transactions    0
dtype: int64

### üíπ **Task A2: Pivot Table & Group Analysis**
1. Create a pivot table showing the **average Sales** and **average Transactions** by `Region`.
2. Sort the pivot table by the highest average Sales.

In [35]:
# === SOLUTION for Task A2 ===
regions_avg = df_regional[['Region', 'Sales', 'Transactions']].groupby('Region').mean()
print(regions_avg)
# Sort by highest average Sales

             Sales  Transactions
Region
East    564.093444     43.684211
North   515.117684     47.320000
South   466.730246     44.708333
West    463.957703     54.937500

### ‚öóÔ∏è **Task A3: Correlation & Outlier Detection** ‚ö†Ô∏è Optional Challenge
1. Calculate the correlation between `Sales` and `Transactions`. Do they appear to be correlated?
2. Detect potential outliers in `Sales` using the **IQR** (Interquartile Range) method.

In [4]:
# === SOLUTION for Task A3 ===
# 1) Correlation


# 2) Outlier Detection using IQR

Correlation between Sales and Transactions: 0.02608647690406796
Interquartile Range (IQR):  472.77253628765936
Lower Bound:  -451.67072297512066
Upper Bound:  1440.3193439957407

Number of outliers in 'Sales':  0

---
## üìà **Part B: Advanced Time-Series Analysis**
Now let's work with the **time-series** dataset from your second assignment. We'll generate (or reload) the data below.

In [37]:
# === Part B: Data Generation (Time-Series) ===
dates = pd.date_range(start="2020-01-01", end="2020-12-31", freq="D")
data_timeseries = {
    "Date": dates,
    "Sales": (
        np.random.rand(len(dates)) * 200
        + np.sin(np.linspace(-3, 3, len(dates))) * 50
        + 100
    ),
}

df_timeseries = pd.DataFrame(data_timeseries)
df_timeseries.set_index("Date", inplace=True)

### üîé **Task B1: Quick Exploration**
1. Display the first 5 rows.
2. Show a statistical summary of the `Sales` column.

In [38]:
# === SOLUTION for Task B1 ===
# 1) Display first 5 rows
df_timeseries.head()

                 Sales
Date
2020-01-01  212.531346
2020-01-02  139.740002
2020-01-03  207.498176
2020-01-04  119.686521
2020-01-05  156.833018

In [39]:
# 2) Statistical summary of the 'Sales' column
df_timeseries['Sales'].describe()

count    366.000000
mean     200.540689
std       68.309255
min       53.493600
25%      152.402183
50%      203.633597
75%      252.533527
max      344.409704
Name: Sales, dtype: float64

### üìÜ **Task B2: Monthly & Rolling Analysis**
1. Calculate monthly average `Sales`.
2. Compute a 7-day rolling average to smooth out short-term fluctuations.

In [41]:
# === SOLUTION for Task B2 ===
# 1) Monthly average Sales
monthly_avg_sales = df_timeseries.resample('M').mean()

C:\Users\PC-Pli\AppData\Local\Temp\ipykernel_60324\3498737512.py:3: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_avg_sales = df_timeseries.resample('M').mean()

In [9]:
# 2) 7-day rolling average

Date
2020-01-01           NaN
2020-01-02           NaN
2020-01-03           NaN
2020-01-04           NaN
2020-01-05           NaN
                  ...
2020-12-27    177.084961
2020-12-28    176.899915
2020-12-29    176.411027
2020-12-30    177.033434
2020-12-31    177.649389
Name: Sales, Length: 366, dtype: float64

### üî¨ **Task B3: Day-of-Week Seasonality Analysis (Using Pandas Only)**

1. **Extract the day of the week** from the index and store it in a new column (e.g., `DayOfWeek`).
2. **Group by** this `DayOfWeek` column to get the **average Sales** for each day of the week.
3. **Compare** these daily averages to see if certain days have higher or lower sales.

In [1]:
# === SOLUTION for Task B3 with Pandas Only ===
# 1) Extract day of the week: Monday=0, Sunday=6
# 2) Group by the day of the week to compute average sales

### üìù **Observations & Insights**
1. **Regional Data**
   - The correlation between `Sales` and `Transactions` is quite low, suggesting they‚Äôre not strongly related in this sample.
   - Pivot tables show which region averages the highest Sales, with minimal outliers in `Sales`.

2. **Time-Series Data**
   - The monthly averages reveal slight fluctuations each month.
   - The 7-day rolling average smooths out daily noise.
   - Seasonal decomposition indicates a clear weekly seasonal pattern (due to the `np.sin()` component) and an overall trend.

---
## üèÅ **Assignment Wrap-Up**

üéâ **Congratulations!** You‚Äôve:
- Built pivot tables and looked for regional trends.
- Analyzed correlation and outliers.
- Explored monthly averages in time-series data.
- Investigated rolling averages and seasonal decomposition.

These techniques will provide a solid foundation for more advanced analytical work, including forecasting, anomaly detection, and deeper business intelligence. Keep exploring!